# Quiz 1

In [1]:
2345 % 13

5

In [2]:
1567 // 17

92

# FirstName กับ Firstname เป็นตัวแปรเดียวกันหรือไม่?
## - คนละตัวเนื่องจากตัวพิมพ์ใหญ่-เล็กมีผลต่อการตั้งชื่อ

# 13Friday เป็นตัวแปรที่ถูกต้องหรือไม่?
## - ไม่ถูกต้องเนื่องจากชื่อตัวแปรไม่สามารถขึ้นต้นด้วยตัวเลขได้

In [3]:
print("คำตอบของข้อ 1 คือ {} และข้อ 2 คือ {}".format(2345 % 13, 1567 // 17))

คำตอบของข้อ 1 คือ 5 และข้อ 2 คือ 92

# Quiz 2

In [4]:
result = lambda x: x/3
print(result(99))

33.0

In [5]:
def result1(a,b,c,d):
    y = (a+b+c+d)/((a+b+c+d)/4)
    return y
print(result1(12,3,4,1))

4.0

In [6]:
result3 = lambda x, y, z: (x+y+z)/3
print(result3(1,4,5))

3.3333333333333335

# Quiz 3

In [7]:
information = ['Paramate', 'Soontornwipat', '29']

In [8]:
del(information[2])
print(information)

['Paramate', 'Soontornwipat']

In [9]:
information.insert(0,'19')
print(information)

['19', 'Paramate', 'Soontornwipat']

In [10]:
information.append('171')
information.append('82')
print(information)

['19', 'Paramate', 'Soontornwipat', '171', '82']

In [11]:
print(information[-3:])

['Soontornwipat', '171', '82']

# Quiz 4

In [12]:
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]]
print(a[1][1][1])

6

In [13]:
names = [['a','b',1],['aa','bb',2],['aaa','bbb',3],['aaaa','bbbb',4]]

In [14]:
names.pop()
print(names)

[['a', 'b', 1], ['aa', 'bb', 2], ['aaa', 'bbb', 3]]

In [19]:
name5 = ['aaaaa','bbbbb',5]
names.insert(0,name5)
print(names)

[['aaaaa', 'bbbbb', 5], ['aaaaa', 'bbbbb', 5], ['aaaaa', 'bbbbb', 5], ['a', 'b', 1], ['aa', 'bb', 2], ['aaa', 'bbb', 3]]

In [20]:
names[1][2] = names[1][2] + 10
print(names)

[['aaaaa', 'bbbbb', 5], ['aaaaa', 'bbbbb', 15], ['aaaaa', 'bbbbb', 5], ['a', 'b', 1], ['aa', 'bb', 2], ['aaa', 'bbb', 3]]

# Quiz 5

In [25]:
lst = [1,2,3,4,5,6,7,8,9,10]
sqr = list(map((lambda x: x*x*x),lst))
print(sqr)

def func(x):
    y = x*x*x
    return y

sqr2 = list(map(func, lst))
print(sqr2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [59]:
fil = list(filter((lambda x: (x**2) % 2 != 0), lst))
print(fil)

def func2(x):
    if((x**2) % 2) != 0:
        y = 1
    else:
        y = 0
    return y

fil2 = list(filter(func2, lst))
print(fil2)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

# Quiz 6

In [62]:
lst = [1,2,3,4,5] 
lst1 = [(x*2)-1 for x in lst]
print(lst1)

[1, 3, 5, 7, 9]

In [64]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13]
lst1 = [x**3 for x in lst if x%3 != 0]
print(lst1)

[1, 8, 64, 125, 343, 512, 1000, 1331, 2197]

# Quiz 7
### จงเขียนโปรแกรมตรวจสอบคะแนนเด็กนักเรียน ถ้าเด็กได้คะแนนมากกว่า 80 A มากกว่า 70 เกรด B มากกว่า 60 เกรด C มากกว่า 50 เกรด D และต่ำกว่า 50 เกรด F

In [71]:
def grade(x):
    if (x > 80):
        print('คุณได้เกรด A')
    elif (x > 80):
        print('คุณได้เกรด B')
    elif (x > 60):
        print('คุณได้เกรด C')
    elif (x > 50):
        print('คุณได้เกรด D')
    else:
        print('คุณได้เกรด F')

print(grade(20))
print(grade(51))
print(grade(80))
print(grade(90))

คุณได้เกรด F
None
คุณได้เกรด D
None
คุณได้เกรด C
None
คุณได้เกรด A
None

# Quiz 8
### กำหนดให้ A = [1, 2, 3, 4, 5] และ B = [2, 3, 1, 3, 2] จงเขียน Map แบบ Multiple-list operations โดยให้ B ยกกำลังด้วย A พร้อมกับแสดงผล

In [75]:
A = [1, 2, 3, 4, 5]
B = [2, 3, 1, 3, 2]

result = list(map(lambda x,y: y**x, A,B))
print(result)

[2, 9, 1, 81, 32]

In [79]:
name = ['a' ,'b', 'c', 'd']
number =[1, 2, 3, 4]
score =[50,60,70,80]

print(list(zip(name,number,score)))

[('a', 1, 50), ('b', 2, 60), ('c', 3, 70), ('d', 4, 80)]

# Quiz 9

In [86]:
from functools import reduce
lst = [5, 2, 1, 3, 2] 

result = reduce((lambda x,y: x**y) , lst)
print(result)

244140625

In [87]:
lst = [1,2,3,4,5,6,7,8,9,10] 
result = reduce((lambda x,y: x*y) , lst)
print(result)

3628800